@import './fonts.css';

@import 'tailwindcss';

:root {
  --header-height-lg: calc(var(--spacing) * 16);
  --header-height: calc(var(--header-height-lg) - var(--spacing) * 5);
  --progress-color: var(--color-pink-600);
}

@theme {
  --font-roboto: 'Roboto Condensed', sans-serif;
}

@layer components {
  h1 {
    @apply bg-linear-to-r from-sky-600/70 to-gray-900/70 bg-clip-text text-7xl md:text-8xl lg:text-9xl font-extralight tracking-tight text-transparent subpixel-antialiased;
  }

  a {
    @apply text-sky-500 underline underline-offset-2 hover:no-underline;
  }
}
